### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [99]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [102]:
player_count = purchase_data["SN"].nunique()
player_count_df = pd.DataFrame({"Player Count": [player_count]})
player_count_df

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
items_df = purchase_data.groupby("Item Name")["Item Name"].nunique()

avgprice_df = purchase_data["Price"].mean()

total_purchases_df = len(purchase_data)

revenue_df = purchase_data["Price"].sum()
revenue_df = revenue_df.round(2)

In [116]:
purchasing_analysis_df = pd.DataFrame({"Unique Items":[items_df.count()],
                                       "Average Price":[avgprice_df],
                                       "Total Purchases":[total_purchases_df],
                                       "Total Revenue":[revenue_df]})
purchasing_analysis_df

   Unique Items  Average Price  Total Purchases  Total Revenue
0           179       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [105]:
gender_df = purchase_data.groupby("Gender")["SN"].nunique()
genderpercent_df = gender_df/576

In [107]:
gender_demographics_df = pd.DataFrame({"Total Count": gender_df,"Percentage of Players":genderpercent_df.round(2)})
gender_demographics_df

                       Total Count  Percentage of Players
Gender
Female                          81                   0.14
Male                           484                   0.84
Other / Non-Disclosed           11                   0.02


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [108]:
gender_purchases_df = purchase_data.groupby("Gender")["Item Name"]

gender_average_df = purchase_data.groupby("Gender")["Price"].mean()

gender_total_df = purchase_data.groupby("Gender")["Price"].sum()

avg_gender_total_df = gender_total_df/gender_df

In [109]:
gender_analysis_df = pd.DataFrame({"Purchase Count":gender_purchases_df.count(), 
                                   "Average Purchase Price":gender_average_df.round(2),
                                   "Total Purchase Value":gender_total_df,
                                   "Avg Total Purchase per Person":avg_gender_total_df.round(2)})
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [110]:
bins = [0,9,14,19,24,29,34,39, 44]
age_ranges = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]
pd.cut(purchase_data["Age"], bins, labels=age_ranges)

purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels= age_ranges)

age_group_percentage_df = round(purchase_data["Age Range"].value_counts()/780,2)

age_group_count_df = purchase_data.groupby("Age Range")["Item Name"]

In [111]:

age_range_df = pd.DataFrame({"Total Count":age_group_count_df.count(), "Percentage of Players":age_group_percentage_df})
age_range_df

       Total Count  Percentage of Players
<10             23                   0.03
10-14           28                   0.04
15-19          136                   0.17
20-24          365                   0.47
25-29          101                   0.13
30-34           73                   0.09
35-39           41                   0.05
>=40            12                   0.02

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [112]:
players_purchase_count_df = purchase_data.groupby("Age Range").count()["Price"].rename("Purchase Count")
players_average_price_df = purchase_data.groupby("Age Range").mean()["Price"].rename("Average Purchase Price")
players_total_df = purchase_data.groupby("Age Range").sum()["Price"].rename("Total Purchase Value")
players_average_total_df = purchase_data.groupby("Age Range")

In [113]:
total_user_data_df = pd.DataFrame({"Purchase Count":players_purchase_count_df,
                                   "Average Purchase Price": players_average_price_df.round(2),
                                   "Total Purchase Value": players_total_df})
total_user_data_df

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Range
<10                    23                    3.35                 77.13
10-14                  28                    2.96                 82.78
15-19                 136                    3.04                412.89
20-24                 365                    3.05               1114.06
25-29                 101                    2.90                293.00
30-34                  73                    2.93                214.00
35-39                  41                    3.60                147.67
>=40                   12                    3.04                 36.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [114]:
top_five_spenders = total_user_data_df.sort_values("Total Purchase Value", ascending=False)
top_five_spenders.head()

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Range
20-24                 365                    3.05               1114.06
15-19                 136                    3.04                412.89
25-29                 101                    2.90                293.00
30-34                  73                    2.93                214.00
35-39                  41                    3.60                147.67

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [93]:
items_purchase_count_df = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
items_average_price_df = purchase_data.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price")
items_value_total_df = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

# Convert to DataFrame

items_purchased_df = pd.DataFrame({"Purchase Count":items_purchase_count_df,
                                   "Item Price":items_average_price_df,
                                   "Total Purchase Value":items_value_total_df,})

In [94]:
most_popular_items_df = items_purchased_df.sort_values("Purchase Count", ascending=False)
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [96]:
most_profitable_items_df = items_purchased_df.sort_values("Total Purchase Value", ascending=False)
most_profitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80